absl-py
aiohttp
astor==0.8.1
astunparse==1.6.3
async-timeout==3.0.1
attrs
blinker==1.4
brotlipy==0.7.0
cached-property
cachetools
certifi==2021.10.8
cffi
chardet
charset-normalizer
click
cloudpickle
colorama
coverage
cryptography
cycler==0.10.0
Cython
cytoolz==0.11.0
dask==2021.9.1
Flask
flatbuffers
fonttools==4.25.0
fsspec
gast
google-auth
google-auth-oauthlib==0.4.1
google-pasta
grpcio
gunicorn==20.1.0
h5py
idna
imagecodecs
imageio
importlib-metadata
itsdangerous
Jinja2
keras==2.6.0
Keras-Preprocessing
kiwisolver
locket==0.2.1
Markdown
MarkupSafe
matplotlib
mkl-fft==1.3.1
mkl-random
mkl-service==2.4.0
multidict
munkres==1.1.4
networkx
numpy
oauthlib
olefile
opt-einsum
packaging
partd
Pillow==8.4.0
protobuf==3.14.0
pyasn1
pyasn1-modules==0.2.8
pycparser
PyJWT
pyOpenSSL
pyparsing
pyreadline==2.1
PySocks
python-dateutil
PyWavelets
PyYAML==5.4.1
requests
requests-oauthlib==1.3.0
rsa
scikit-image==0.18.1
scipy
six
tensorboard
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.6.0.post2
tensorflow-cpu==2.5.0
tensorflow-estimator
termcolor==1.1.0
tifffile
toolz
tornado
typing-extensions
urllib3==1.26.7
Werkzeug
win-inet-pton
wincertstore==0.2
wrapt
yarl
zipp
